<div class="center jumbotron">
  <h1>Donna Reeder</h1>
  <p>Managing all yer RSS feeds right here right now</p>
  <%= link_to "Sign up", "#", class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("donna-reading.png", alt:"Donna Reed Reading"), 
    'https://www.imdb.com/title/tt0051267/?ref_=fn_al_tt_2' %>
