<% provide(:title, @user.name) %>
<% if current_user?(@user) %>
<div class="row">
  <div class="col-xs-4">
    <div id="feedTree">
      <h1>Feed tree</h1>
      <section class="feeds">
        <ul class="root-list">
        <% nodes = @user.nodes.select{|x| x.parent.nil? }
	# debugger
        nodes.each do |node| %>
          <%= dump_the_list(node) %>
        <% end %>
        </ul>
      </section>
    </div>
  </div>
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-12">
        <div id="feedList">
          <h1>Feed list</h1>
          <div class="sidebar-content">
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div id="currentArticle">
          <h1>currentArticle</h1>
          <div class="main-content">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% elsif current_user.admin? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
        | <%= link_to "delete their account", @user, method: :delete, data: { confirm: 'are you sure?' } %>
      </h1>
    </section>
  </aside>
</div>
<% end %>
