@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-lighter: #777;

$pink50s:  #f5e6e5;
$green50s: #cde1c6;
$yellow50s: #E3CE71;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
	margin-bottom: 10px;
    }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.2em;
    line-height: 1.7em;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
	color: #ddd;
	text-decoration: none;
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: #777;
    a {
	color: #555;
	&:hover {
	    color: #222;
	}
    }

    small {
	float: left;
    }

    ul {
	float: right;
	list-style: none;

	li {
	    float: left;
	    margin-left: 15px;
	}
    }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* forms: signup errors */

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
	margin-left: 20px;
	font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

$feedMargin: 25px;

/* main blocks */
div#feedTree {
  max-height: 600px;
  overflow: scroll;
  border: $pink50s 24px solid;
  margin-right: 0;
  padding-left: 2px;
  li {
    padding-left: 0;
  }
  li.node {
    list-style-image: url('folder-icon-16.png');
  }
  li.feed {
    list-style-image: url('rss-icon-16.png');
    vertical-align: bottom;
  }
  ul {
    list-style-image: none;
    padding-left: $feedMargin;
    ul ul ul {
      padding-left: 0;
    }
  }
}

div#feedList {
  border: $green50s 24px solid;
  margin-left: 0;
}

div#currentArticle {
  border: $yellow50s 24px solid;
  margin-left: 0;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
    list-style: none;
    margin: 0;
    li {
	overflow: auto;
	padding: 10px 0;
	border-bottom: 1px solid $gray-lighter;
    }
}

